@import "variables";
@import "menu";
@import "section-1";
@import "button";
@import "section-2";
@import "section-3";
@import "section-4";
@import "section-5";
@import "section-6";
@import "footer";

*{
    padding: 0;
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: $primary-font-family;
}   
body{
    width: 100%;
    height: 100%;
}

