$primary-background-color: #0000EC;
$primary-font-family: 'IBM Plex Sans', sans-serif;
$secondary-font-family: 'IBM Plex Mono', monospace;
$button-background-color: #00F3BB;
$button-font-color: #060A24;
$primary-font-family-color:#060A24;
$tertiary-font-family-color:#0000EC;
$hover-font-family-color: #00F3BB;
